<br />
<div class="booyah-box col-10 offset-1">
  <h1>New Workout</h1>
  <%= simple_form_for @workout do |f| %>
    <%= f.input :date %>
    <%= f.input :workout, label: "Which area did you work on?" %>
    <%= f.input :length, label: "How long did you work out?" %>
    <%= f.input :mood, label: "How were you feeling?", placeholder: "Good, excited, tired, etc." %>
    <%= f.input :comments, label: "Comments:", placeholder: "How did the workout go? What happened that was interesting? What supplements did you take today? Learn anything?" %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>