
<h1> Created Workout Here, Workout show </h1>
<br />
<div class="booyah-box col-10 offset-1">
  <h2 class="text-center"><%= @workout.date %></h2>
  <h2><%= @workout.workout %></h2>
  <h2><%= @workout.length %></h2>
  <h2><%= @workout.mood %></h2>
  <h2><%= @workout.comments %></h2>

</div>